<div{{attributes.addClass('banner_top')}} style="height: {{ height.0 }}">
  <div class="banner__image"> {% block image %}{% endblock %}	</div>	
  <div class="banner__inner">		
    <div class="container-xl">
      <div class="banner__content fade-in"> {% block content %}{% endblock %}	</div>
    </div>
  </div>  
</div>

