<div {{ attributes }}>  
  <article class="article article_1">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div class="article-image">{% block image %}{% endblock %}</div>
      </div>
      <div class="col-12 col-lg-7 header">
        <div>{% block title %}{% endblock %}</div>
      </div>
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </article>
</div>
